body {
  background: -moz-radial-gradient(circle, #010101, #28353E, #465663);
  background: -webkit-radial-gradient(circle, #010101, #28353E, #465663);
  background: radial-gradient(circle, #010101, #28353E, #465663);
  color: white;
}

#container {
    height: 970px;
    position: relative;
    overflow: hidden;
}

.circle {
  height: 970px;
  width: 970px;
  margin: 0;
  padding: 0;
}

.circle li {
  list-style-type: none;
  position: absolute;
  background-color: #fff;
  color: rgb(0,0,255);
  width:;
}