body {
  background: -moz-radial-gradient(circle, #010101, #28353E, #465663);
  background: -webkit-radial-gradient(circle, #010101, #28353E, #465663);
  background: radial-gradient(circle, #010101, #28353E, #465663);
  color: white;
}

#piemenuContainer {
    height: 970px;
    overflow: hidden;
}

.circle {
  height: 970px;
  width: 970px;
  margin: 0;
  padding: 0;
}

.circle li {
  list-style-type: none;
  position: absolute;
  background-color: #fff;
  color: rgb(0,0,255);
  width:;
}

#piemenu > svg { width: 100%; height: 100%; }
#piemenu { height: 855px; width: 855px; margin:auto; }
@media (max-width: 400px) { #piemenu { height: 300px; width: 300px; } }

[class|=wheelnav-piemenu-slice-basic] { fill: #ECEDEF; stroke: none; }
[class|=wheelnav-piemenu-slice-selected] { fill: #DC4361; stroke: none; }
[class|=wheelnav-piemenu-slice-hover] { fill: #ECEDEF;  stroke: none; cursor: pointer; }

[class|=wheelnav-piemenu-title-basic] { fill: #7BA8C3; stroke: none; }
[class|=wheelnav-piemenu-title-selected] { fill: #ECEDEF; stroke: none; }
[class|=wheelnav-piemenu-title-hover] { fill: #7BA8C3; stroke: none; cursor: pointer; }
[class|=wheelnav-piemenu-title] > tspan { font-size: inherit; }

.wheelnav-piemenu-spreader-in,
.wheelnav-piemenu-spreader-out { fill: #444; stroke: #444; stroke-width: 2; cursor: pointer; }
.wheelnav-piemenu-spreadertitle-in,
.wheelnav-piemenu-spreadertitle-out { fill: #eee; stroke: #444; cursor: pointer; }

.wheelnav-piemenu-marker { fill: #444; stroke: #444; stroke-width: 2; }